body {
  background-color: #ffb0e7;
}

.nav-bar {
  background-color: #401fd3;
  padding: 1em;
  color: #D9D0DE;
  font-size: 1.2em;
  font-weight: 600;
}

nav > ul > li {
  border: solid 1px;
  padding: .33em;
  display: inline-block;
}

footer {
  padding: .5em;
  background-color: #464646;
}
