<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="templates.css" rel="stylesheet" type="text/css" />
  <title>Kreators.com</title>
</head>
<header>
  <h1>Templates</h1>
</header>
<h1>Beginners Links</h1>
<ol>
  <li><a target="_blank" rel="noopener noreferrer" href="https://www.canva.com/templates/EAEdrcoWmek-red-colour-pop-classroom-health-and-safety-university-back-to-school-poster/">Template 1</a></li>
  <li><a target="_blank" rel="noopener noreferrer" href="https://www.canva.com/templates/EAEdrtbd7BY-blue-and-yellow-clean-graphic-welcome-messages-and-announcements-university-back-to-school-poster/">Template 2</a></li>
  <li><a target="_blank" rel="noopener noreferrer" href="https://www.canva.com/templates/EAEdrk4HW2E-purple-and-black-clean-graphic-announcements-high-school-back-to-school-poster/">Template 3</a></li>
  <li><a target="_blank" rel="noopener noreferrer" href="https://www.canva.com/templates/EAEToXb86ZY-pink-and-blue-motivational-education-portrait-poster/">Template 3</a></li>
  <li><a target="_blank" rel="noopener noreferrer" href="https://www.canva.com/templates/EAEdrsbriWs-pink-and-blue-clean-graphic-classroom-health-and-safety-university-back-to-school-poster/">Template 4</a></li>
  <li><a target="_blank" rel="noopener noreferrer" href="https://www.canva.com/templates/EAEdrZvcToQ-blue-and-orange-organic-and-handcrafted-announcements-elementary-back-to-school-poster/">Template 5</a></li>
  <li><a target="_blank" rel="noopener noreferrer" href="https://www.canva.com/templates/EAEnIdu9gms-polka-dot-place-value-posters/">Template 6</a></li>
  <li><a target="_blank" rel="noopener noreferrer" href="https://www.canva.com/templates/EAEm_-ztC3c-globe-and-planes-welcome-back-students-school-poster/">Template 7</a></li>
  <li><a target="_blank" rel="noopener noreferrer" href="https://www.canva.com/templates/EAEdra1AwWk-blue-and-orange-colour-pop-announcement-elementary-back-to-school-poster/">Template 8</a></li>
  <li><a target="_blank" rel="noopener noreferrer" href="https://www.canva.com/templates/EAEdrsbriWs-pink-and-blue-clean-graphic-classroom-health-and-safety-university-back-to-school-poster/">Template 9</a></li>
  <li><a target="_blank" rel="noopener noreferrer" href="https://www.canva.com/templates/EAEdrtP_ysY-yellow-and-black-clean-graphic-welcome-messages-and-announcements-university-back-to-school-poster/">Template 10</a></li>
</ol>
